<section>
    <h1 class=" text-main h2 max-w-md mx-auto mb-5">Forget Password: </h1>
    <!-- verifyEmail form -->
    @if (step == 1) {
    <form class="max-w-md mx-auto bg-main-light px-5 py-7" [formGroup]="verifyEmail" (ngSubmit)="verifyEmailSubmit()">
        <div class="relative z-0 w-full mb-5 group">
            <input type="email" name="floating_email" id="floating_email"
                class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                placeholder=" " required formControlName="email" />
            <label for="floating_email"
                class=" flex items-center gap-2 peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">
                <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 16">
                    <path
                        d="m10.036 8.278 9.258-7.79A1.979 1.979 0 0 0 18 0H2A1.987 1.987 0 0 0 .641.541l9.395 7.737Z" />
                    <path
                        d="M11.241 9.817c-.36.275-.801.425-1.255.427-.428 0-.845-.138-1.187-.395L0 2.6V14a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V2.5l-8.759 7.317Z" />
                </svg>
                Email address
            </label>
            @if (verifyEmail.get('email')?.errors && verifyEmail.get('email')?.touched) {
            <div class="custom-alert mt-3">
                @if (verifyEmail.get('email')?.getError('required')) {
                <p class="m-0">Required</p>
                }
                @else if (verifyEmail.get('email')?.getError('email')) {

                <p class="m-0">Enter Valid Email </p>
                }

            </div>
            }
        </div>

        <button [disabled]="verifyEmail.invalid" type="submit"
            class="text-white btn-main hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            @if (isLoading) {
                <span><i class="fas fa-spin fa-spinner"></i></span>
            }
            Submit
        </button>
        @if (errorMsg) {
            <p class="bg-red-50 border mt-4 border-red-500 text-red-900 placeholder-red-700 text-sm rounded-lg focus:ring-red-500 dark:bg-gray-700 focus:border-red-500 block w-full p-2.5">{{errorMsg}}</p>
        }
        <!-- @if(successMsg){
            <p class="bg-green-50 border border-green-500 text-green-900 dark:text-green-400 placeholder-green-700  text-sm rounded-lg p-2.5 m-2 w-[fit-content]">{{successMsg}}</p>
        } -->
    </form>
    }

    @else if (step == 2) {    <!-- enter code form -->
    <form class="max-w-md mx-auto bg-main-light px-5 py-7 mt-5" [formGroup]="verifyCode" (ngSubmit)="verifyCodeSubmit()">
        <div class="relative z-0 w-full mb-5 group">
            <input type="text" name="floating_code" id="floating_code"
                class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                placeholder=" " required formControlName="resetCode" />
            <label for="floating_code"
                class="  peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">

                your code
            </label>
            @if (verifyCode.get('resetCode')?.errors && verifyCode.get('resetCode')?.touched) {
            <div class="custom-alert mt-3">
                @if (verifyCode.get('resetCode')?.getError('required')) {
                <p class="m-0">Required</p>
                }
                @else if (verifyCode.get('resetCode')?.getError('pattern')) {

                <p class="m-0">code must be 6 digits </p>
                }

            </div>
            }
        </div>

        <button [disabled]="verifyCode.invalid" type="submit"
            class="text-white btn-main hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            Submit
            @if (isLoading) {
                <span><i class="fas fa-spin fa-spinner"></i></span>
            }
        </button>
            
            @if (errorMsg) {
                <p class="custom-alert m-0">{{errorMsg}}</p>
            }
            <!-- @if(successMsg){
                <p class="bg-green-50 border border-green-500 text-green-900 dark:text-green-400 placeholder-green-700  text-sm rounded-lg p-2.5 m-2 w-[fit-content]">{{successMsg}}</p>
            } -->
    </form>
    }

    @else if (step == 3) {    <!-- new password form -->
    <form class="max-w-md mx-auto bg-main-light px-5 py-7 mt-5" [formGroup]="resetPassword" (ngSubmit)="setNewPassSubmit()">
        <div class="relative z-0 w-full mb-5 group">
            <input readonly type="email" name="floating_email" id="floating_email"
                class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                placeholder=" " required formControlName="email" />
            <label for="floating_email"
                class=" flex items-center gap-2 peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">
                <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 16">
                    <path
                        d="m10.036 8.278 9.258-7.79A1.979 1.979 0 0 0 18 0H2A1.987 1.987 0 0 0 .641.541l9.395 7.737Z" />
                    <path
                        d="M11.241 9.817c-.36.275-.801.425-1.255.427-.428 0-.845-.138-1.187-.395L0 2.6V14a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V2.5l-8.759 7.317Z" />
                </svg>
                Email address
            </label>
            @if (resetPassword.get('email')?.errors && resetPassword.get('email')?.touched) {
            <div class="custom-alert mt-3">
                @if (resetPassword.get('email')?.getError('required')) {
                <p class="m-0">Required</p>
                }
                @else if (resetPassword.get('email')?.getError('email')) {

                <p class="m-0">Enter Valid Email </p>
                }

            </div>
            }
        </div>
        <div class="relative z-0 w-full mb-5 group">
            <input type="password" name="floating_newPassword" id="floating_newPassword"
                class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                placeholder=" " required formControlName="newPassword" />
            <label for="floating_newPassword"
                class=" peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">

                New Password
            </label>
            @if (resetPassword.get('newPassword')?.errors && resetPassword.get('newPassword')?.touched) {
            <div class="custom-alert mt-3">
                @if (resetPassword.get('newPassword')?.getError('required')) {
                <p class="m-0">Required</p>
                }
                @else if (resetPassword.get('newPassword')?.getError('pattern')) {

                <p class="m-0">password must start with upperCase then from 6 to more any chars</p>
                }

            </div>
            }

        </div>

        <button [disabled]="resetPassword.invalid" type="submit"
            class="text-white btn-main hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Submit</button>
    </form>

    }


</section>